#sidebar{
    margin-left:25px;
    min-width:200px;
    max-width: 200px;
    min-height: 100vh;
   
   
    transition: all 0.3s;
}
#sidebar .sidebar-header{
    padding:20px;
    background: #6d7fcc;
}
a, a:hover, a:focus{
    text-align: center;
    position: relative;
    
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
.snortlink{
    margin-bottom: 10px;
}
#frame{
   position: relative;
  
    height: 500px;
    width: 80%;
}
#griddisplay{
    display: grid;
    grid-template-rows:  100%;
    grid-template-columns: 20% 80%;
}
.content{
    text-align: center;
    position: absolute;
    top:20%;
    left:10%;
    padding: 50px;
    width: 80%;

    z-index:-1;

}
.nav-tabs li a{
    align-content: center;
  width: 120px;
  text-align: center;
    
}
canvas{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.nav-tabs:focus{color:#090;background-color:#333;border:1px solid #222;border-bottom-color:transparent;cursor:default}
.ml-auto,.mx-auto{margin-left:auto!important;float: right;}
.navbar-toggler{padding:.25rem .75rem;font-size:1.125rem;line-height:1;background-color:transparent;border:1px solid transparent;border-radius:.25rem}.navbar-toggler:focus,.navbar-toggler:hover{text-decoration:none}.navbar-toggler:not(:disabled):not(.disabled){cursor:pointer}
.navbar-toggler-icon{display:inline-block;width:1.5em;height:1.5em;vertical-align:middle;content:"";background:no-repeat 50%;background-size:100% 100%}
.collapse:not(.show){display:none}.collapsing{position:relative;height:0;overflow:hidden;transition:height .35s ease}
.collapse:not(.show){display:none}.collapsing{position:relative;height:0;overflow:hidden;transition:height .35s ease}

.breadcrumb{
    position: relative;
    left:10%;
    z-index:-1;
}
.navbar-nav{display:flex;flex-direction:column;padding-left:0;margin-bottom:0;list-style:none}.navbar-nav .nav-link{padding-right:0;padding-left:0}.navbar-nav .dropdown-menu{position:static;float:none}.navbar-text{display:inline-block;padding-top:.5rem;padding-bottom:.5rem}.navbar-collapse{flex-basis:100%;flex-grow:1;align-items:center}





